_backup_before_prep/
.DS_Store
*.egg-info/
__pycache__/
*.pyc
.mplconfig/
build/
dist/
root-dist/
.pytest_cache/
.venv/
out/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/
.tox/
*.whl
*.aux
*.bbl
*.blg
*.log
*.out
*Notes.bib
